{
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "proseWrap": "always",
  "printWidth": 80,
  "tailwindFunctions": ["clsx", "tw"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
